<!doctype html>
<html lang='es-mx'>
    <head>
        <meta charset='UTF-8' />
        <meta
            name='viewport'
            content='width=device-width, initial-scale=1, maximum-scale=1'
        />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <title>RESICO Calc</title>
        <link
            rel='preconnect'
            href='https://api.fonts.coollabs.io'
            crossorigin
        />
        <link
            rel='preload'
            href='https://api.fonts.coollabs.io/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'
            onload="this.onload=null;this.rel='stylesheet';this.removeAttribute('as')"
            as='style'
        />
        <noscript>
            <link
                rel='stylesheet'
                href='https://api.fonts.coollabs.io/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'
            />
        </noscript>
        <link rel='manifest' href='/manifest.json' />
        <meta name='theme-color' content='#ecf0f3' />
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        padding: 0;
        background-color: #ebecf0;
    }
</style>
